# Standard Python Dependencies
numpy==1.24.2
scipy==1.10.1

# Jupyter Notebook Dependencies
jupyterlab==3.6.3
jupyterlab-templates==0.4.0
ipywidgets==8.0.6

# qkit Dependencies
h5py==3.8.0
pyqt5==5.15.9
pyqtgraph==0.13.3
PyVISA==1.13.0
PyVISA-py==0.6.3
zhinst==23.2.4
pyzmq==25.0.2

# Analysis
matplotlib==3.7.1
uncertainties==3.1.7